<heading-generic></heading-generic>

<div class="country-title detail">
    <div ng-controller="stockDetailPortfolioCtrl">
        <div class="popup" ng-click="saveToPortfolio()">
            <a class="star" id="star"><i class="fas fa-star"></i></a>
            <span class="popuptext" id="portfolioPopupSave">Saved to portfolio</span>
            <span class="popuptext" id="portfolioPopupRemove">Removed from portfolio</span>
        </div>
        <h2 class="name">{{ vm.keyStock.name }}</h2>
        <!--<h2 class="short_name">{{ vm.keyStock.short_name }}</h2>-->
    </div>
    <p class="timestamp">{{  vm.keyStock.ts | formatTimestamp }}</p>
</div>

<div class="row-detail {{ vm.keyStock.color }}">
    <p class="name">{{ vm.keyStock.symbol }}</p>
    <p>{{ vm.keyStock.price | homeLimitDecimal }}</p>
    <p>{{ vm.keyStock.change | addSign | homeLimitDecimal }}</p>
    <p>{{ vm.keyStock.change_pct | addSign | homeLimitDecimal}}</p>
</div>

<div ng-controller="stockDetailGraphCtrl">
    <div class="timeNav">
        <div id="1d" ng-click="changeTimeInterval('1d')" class="span-selector active">1d</div>
        <div id="1m" ng-click="changeTimeInterval('1m')" class="span-selector">1m</div>
        <div id="2m" ng-click="changeTimeInterval('2m')" class="span-selector">2m</div>
        <div id="3m" ng-click="changeTimeInterval('3m')" class="span-selector">3m</div>
        <div id="6m" ng-click="changeTimeInterval('6m')" class="span-selector">6m</div>
        <div id="ytd" ng-click="changeTimeInterval('ytd')" class="span-selector">ytd</div>
        <div id="1y" ng-click="changeTimeInterval('1y')" class="span-selector">1y</div>
        <div id="5y" ng-click="changeTimeInterval('5y')" class="span-selector">5y</div>
        <!--<div id="all" ng-click="changeTimeInterval('all')" class="span-selector">all</div>-->
    </div>
    <div id='chart'>
        <svg width="600" height="200"></svg>
    </div>
    <div class='btn-group btn-group-sm text-center split-by-controls' >
        <button type='button' class='btn btn-default active'
                id='Price' ng-click="changeContent('Price')">Price</button>
        <button type='button' class='btn btn-default'
                id='Change' ng-click="changeContent('Change')">Change</button>
        <button type='button' class='btn btn-default'
                id='ChangePercent' ng-click="changeContent('Change Percent')">Change Percent</button>
    </div>
</div>

<div>
    <div ng-if="vm.fundamentals !== {}" class="country-title">
        <h2>Fundamentals</h2>
    </div>
    <div class="fund-content">
        <div class="row" ng-repeat="f in vm.fundamentals">
            <!--<div ng-if="$index % 3 === 0" class="row-3">-->
                <p class="label">{{ f.label }}</p>
                <p class="value">{{ f.val | limitDecimal }}</p>
            <!--</div>-->
        </div>
    </div>
</div>

<div>
    <div ng-if="vm.news.length !== 0" class="country-title">
        <h2>Latest News</h2>
    </div>
    <div class="news-content">
        <div class="row" ng-repeat="news in vm.news">
            <a class="link" href="{{ news.link }}">{{ news.title }}</a>
            <div class="news-meta">
                <p class="source">{{ news.source }}</p>
                <p class="pub_date">{{ news.pub_date | hoursAgo }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div ng-if="vm.components.length !== 0" class="country-title">
        <h2>Components</h2>
    </div>
    <div class="row-detail {{ comp.color }}" ng-if="comp.price" ng-repeat="comp in vm.components">
        <a href="/detail/{{ comp.symbol }}" class="name">{{ comp.name }}</a>
        <!--<a href="#" class="short_name">{{ comp.short_name }}</a>-->
        <p>{{ comp.price }}</p>
        <p>{{ comp.change | addSign }}</p>
        <p>{{ comp.change_pct | addSign }}</p>
    </div>
</div>
