/* Global styles
--------------------- */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

p {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* Title styles
-------------------- */
.title {
    background-color: #33FF99;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1em;
}

.title h1 {
    margin-left: 1em;
}

.title h1 a {
    color: black;
}

.title a {
    text-decoration: none;
    display: flex;
    font-size: 2rem;
}

/* Country tag styles
------------------------ */

.country-title {
    background-color: #99CCCC;
    width: 100%;
    padding: 0.5em 1em;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
}

.timestamp {
    font-size: 0.75rem;
    padding: 1em 0 0 0;
    margin: 0;
}

/* row styles
------------------------- */
.row {
    display: grid;
    padding: 0 1em;
    grid-template-columns: 5% 35% 20% 20% 20%;
}

.row p, .row a {
    /*display: inline-block;*/
    padding: 0.25em 0;
    color: white;
}

.row p:nth-child(n+3) {
    text-align: right;
    overflow: hidden;
}

.row .short_name {
    text-align: left;
}

.name {
    display: none;
}

/*.row .arrow {*/
    /*margin-left: -5px;*/
    /*display: grid;*/
    /*color: grey;*/
/*}*/

.arrow i {
    display: grid; !important
}

.row i {
    display: none;
}

/*.arrow-right i {*/
    /*display: grid;*/
/*}*/

/*.arrow-down {*/
    /*display: grid;*/
/*}*/

/*.arrow-down i {*/
    /*margin-left: -5px;*/
    /*display: grid;*/
/*}*/

/*.arrow-right p {*/
    /*display: inline;*/
    /*color: darkgrey;*/
/*}*/



.stock-down {
    background-color: #E3352B;
}

.stock-up {
    background-color: #31A745;
}

.stock-unch {
    background-color: #999999;
}

@media (min-width: 600px) {
    .row .name {
        display: inline;
        text-align: left;
    }

    .short_name {
        display: none;
    }
}

/* Dropdown styles*/
.dropdown {
    padding: 0.25em 0;
}

.dropdown p, .dropdown a {
    padding: 0.35em 0.2em;
}

.row-dropdown {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
}

.row-dropdown p {
    text-align: right;
    overflow: hidden;
}

.row-dropdown a {
    color: white;
}

.dropdown .stock-up {
    background-color: #44ba58;
}

.dropdown .stock-down {
    background-color: #f34914e3;
}

@media (min-width: 600px) {
    .row-dropdown .name {
        display: inline;
        text-align: left;
    }

    .short_name {
        display: none;
    }
}

/* Detail styles */
.row-detail {
    display: grid;
    padding: 0 1em;
    grid-template-columns: 40% 20% 20% 20%;
}

.row-detail p, .row-detail a {
    display: inline-block;
    padding: 0.25em 0;
    color: white;
    overflow: hidden;
}

.row-detail p:not(:first-child) {
    text-align: right;
}
