<heading-generic></heading-generic>

<div class="container">
    <div class="country" ng-repeat="market in vm.data.markets">
        <div class="country-title">
            <h2>{{ market.name }}</h2>
            <p class="timestamp">{{  market.time | formatTimestamp }}</p>
        </div>
        <div ng-repeat="stock in market.stocks">
            <div class="row {{ stock.color }}">
                <p ng-class="{ 'arrow': stock.related != '' }" ng-init="showDropdown=false" ng-click="showDropdown = !showDropdown">
                    <i ng-if="!showDropdown" class="fas fa-caret-right"></i>
                    <i ng-if="showDropdown" class="fas fa-caret-down"></i>
                </p>
                <!--<p ng-class="{ 'arrow-down': showDropdown }"  ng-click="showDropdown = !showDropdown"></p>-->
                <a href="/detail/{{ stock.symbol }}" class="name">
                    {{ stock.name }}
                </a>
                <a href="/detail/{{ stock.symbol }}" class="short_name">
                    {{  stock.short_name }}
                </a>
                <p>{{ stock.price }}</p>
                <p>{{ stock.change | addSign }}</p>
                <p>{{ stock.change_pct | addSign }}</p>
            </div>

            <div ng-show="showDropdown" ng-class="{ 'dropdown': stock.related.length != 0 }">
                <div class="row-dropdown {{ other.color }}" ng-repeat="other in stock.related">
                    <a href="/detail/{{ other.symbol }}" class="name">{{ other.name }}</a>
                    <a href="/detail/{{ other.symbol }}" class="short_name">{{ other.short_name }}</a>
                    <p>{{ other.price }}</p>
                    <p>{{ other.change | addSign }}</p>
                    <p>{{ other.change_pct | addSign }}</p>
                </div>
            </div>
        </div>
    </div>
</div>